<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav>
  <a href="/">home</a>
  <a href="/login">login</a>
</nav>

  <% if logged_in? %>
    <p>Logged in as: <%= current_user['email'] %></p>

    <form action="/logout" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
    
  <%end%>


  <%= yield %>


</body>
</html>
