<h1>Post a new dish</h1>

<form action="/dishes" method="POST">
    <label for="">name</label>
    <input type="text" name="name">

    <label for="">image url</label>
    <input type="text" name="image">

    <button>create</button>

</form>